@import "reset.css";
body {
  background: #434343;
}
#web {
  width: 90%;
}
.class1 {
  background-color: black;
  color: #dddddd;
}
.class2 {
  background-color: white;
  color: #555555;
}
#bolita {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: peru;
  position: relative;
  left: 50px;
  -moz-animation-name: mover;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-name: mover;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -o-animation-duration: 3s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;
  animation-name: mover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 50%;
}
@-webkit-keyframes mover {
  0% {
    box-shadow: inset 5em 5em 5em #434343;
  }
  30% {
    box-shadow: inset 1em 1em 2em #434343;
  }
  100% {
    left: 100px;
    width: 5em;height: 5em;
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes mover {
  100% {
    left: 100px;
    width: 3em;height: 3em;
  }
}
